@media(min-width:760px){
	#heyiggy-text > h1 {
		font-size:48px;
	}
	#heyiggy-text > a {
		font-size:24px;
	}
}

@media(min-width:1600px){
	#heyiggy-text > h1 {
		font-size:60px;
	}
	#heyiggy-text > a {
		font-size:30px;
	}
}

html,body {
	background-color:#282828;
	color: #fff;
}

.row-same-height {
    display: table !important;
}

.col-same-height{
    float: none !important;
    display: table-cell !important;
}

.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}

.img-responsive {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.iggy{
	color:#337AB7;
}

.vertical-align {
    
    vertical-align: middle;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
}

.nav>li>a:focus, .nav>li>a:hover {
    color: #282828;
    background: #f5f5f5;
}

.navbar-space-fix {
	min-height:70px;
}
