html,body {
	background-color:#282828;
	color: #fff;
}

.row-same-height {
    display: table !important;
}

.col-same-height{
    float: none !important;
    display: table-cell !important;
}

.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}

.img-responsive {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.iggy{
	color:#337AB7;
}

.vertical-align {
    
    vertical-align: middle;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
}

.navbar-space-fix {
	min-height:70px;
}
