html,body {
	background-color:#282828;
	color: #fff;
}

.row {
    display: table;
}

[class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.img-responsive {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.iggy{
	color:#337AB7;
}

.vertical-align {
    
    vertical-align: middle;
}